[Desktop Entry]
Name=Hunt: Showdown 1896
Comment=Play this game on Steam
Exec=steam steam://rungameid/594650
Icon=steam_icon_594650
Terminal=false
Type=Application
Categories=Game;
